.feed{
    flex:0.6;
    /* border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 1px solid grey; */
    border-top: 1px solid grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-radius: 20px 20px 20px 20px; */
    overflow-y:scroll;
    background-color: whitesmoke;
    
    margin-top: 20px;
    
}
/* min-width: 500px; */
/* #EADDCA; */
/* #263032 */




/* background-color: #785189; */

/* check on the min-width mundcal */
.feed{

    -ms-overflow-style: none;
    scrollbar-width: none;
}



.feed::-webkit-scrollbar{
    display: none;
}

.search_input{
    height: 1em;
}
.feed_header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top:0;
    background-color: green;
    z-index:100;
    border: 1px solid var(--twitter-background)
    
    
}







.feed_header > h2{
    font-size: 20px;
    font-weight: 800px;
    margin-left: 10px;
}