.profiles {
  flex: 0.6;
  margin-top: 20px;
  /* border-right: 2px solid grey; */
  overflow-y: scroll;
  background-color: whitesmoke;
  border-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}
/* background-color: #EADDCA; */


.profiles{

  -ms-overflow-style: none;
  scrollbar-width: none;
}



.profiles:-webkit-scrollbar{
  display: none;
}





.profile-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  gap: 40px;
  margin-top: 2em;
  margin-bottom: 20px;
}

.first{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  gap: 40px;
  margin-top: 2em;
  margin-bottom: 20px;
}


.post-header{
  margin-top: 50px;
  margin-bottom:30px ;
}

.profile-header .profiles-image {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;

}



.bio{
  margin-left: 10em;
  margin-bottom: 2em;
}
.profile-info-top {
  display: flex;
  align-items: center;
 
}

.profileFollowDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom-color: lightblue;
}

.profileContent {
  overflow-y: scroll;
}

.profileContent::-webkit-scrollbar {
  display: none;
}

.postProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.followerProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.followingProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.edit-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-popup-content {
  width: 500px;
  height: 700px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.edit-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.current-profile-image {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
}

.editProfile{
  border-bottom:2px solid #999;
}


.upload-icon {
  cursor: pointer;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
}

.edit-form-container input {
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #999;
  background-color: transparent;
  margin-bottom: 10px;
}

.edit-button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


.end{
  align-items: flex-end;
  position: relative;
}

.dots{
  justify-content: flex-end;
}

.dots {
  position: relative;
  cursor: pointer;
}

/* Styles for the delete popup */
.delete-popup {
  position: absolute;
  top: 20px; /* Adjust the distance from the icon */
  right: -20px; /* Adjust the distance from the icon */
  background-color: black; /* You can adjust the variable name according to your CSS */
  color: white;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}


/* modal */
.post-details-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-details-content {
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.post-details-content img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  max-height: 300px;

}

.post-details-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.post-details-footer button {
  padding: 8px 20px;
  border: none;
  background-color: lightblue;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}






/* Media Queries */
@media screen and (max-width: 768px) {
  .edit-profile-content {
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 700px;
  }
}
